{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "eslint-config-standard-react"
  ],
  "rules": {
    "babel/no-invalid-this": 1
  },
  "plugins": ["babel"],
  "globals": {
    "localStorage": true,
    "fetch": true
  }
}